<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>protagonist_down0.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1},{26,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1},{26,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1},{26,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1},{26,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_left0.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1},{22,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{22,42}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1},{24,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{24,44}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1},{24,42}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1},{24,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{24,44}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_right0.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1},{24,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1},{24,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,44}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1},{24,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1},{24,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{24,44}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_up0.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1},{26,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{28,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{28,44}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1},{26,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>protagonist_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,1},{28,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{28,44}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>protagonist.png</string>
            <key>size</key>
            <string>{434,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9ba975e3103358ff7f3da1ab62f9fe0:e88f9df95266668188709171a2a2579b:9dc20201a94081bab13cedc5fd27b0f9$</string>
            <key>textureFileName</key>
            <string>protagonist.png</string>
        </dict>
    </dict>
</plist>
